html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 h3 {
  text-shadow: 22px 15px 4px rgba(255, 0, 0, 0.25);
}

canvas {
  border-radius: 8px;
  background-color: black;
}

.welcomeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-none {
  display: none !important;
}

.mainDiv {
  background-image: url(img/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.startPage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.explainDiv {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3em;
  position: absolute;
  top: 20px;
}
.explainDiv span {
  margin-top: 30px;
}

.startPage button {
  cursor: pointer;
  margin-top: 25px;
  border-radius: 8px;
  font-size: 1.4em;
  padding: 25px;
  background-color: rgb(238, 145, 71);
  color: aliceblue;
}

.restartDiv {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.restartDiv button {
  cursor: pointer;
  margin-top: 25px;
  border-radius: 8px;
  font-size: 1.4em;
  padding: 25px;
  background-color: rgb(238, 145, 71);
  color: aliceblue;
}

.gameOverWin {
  width: 900px;
  height: 1500px;
  position: absolute;
  animation: myAnim1 1.5s ease-in-out 0s 1 normal forwards;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes myAnim1 {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}

.gameOverWin img {
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.startPage img {
  width: 60%;
}

.canvasDiv {
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
